* {
  box-sizing: border-box;
}

body {
  background-color: #faf9f6 !important;
}

.page {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 10%;
}

.navbar {
  background-color: white;
  padding: 1rem !important;
  position: sticky !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: flex-end !important;
  gap: 5rem;
  padding-right: 10rem !important;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 4rem 1rem 4rem;
}

.project-img {
  height: 200px;
  width: 100px;
}

.intro {
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5rem 5rem 1rem 5rem;
  max-width: 1400px;
}

.head-text {
  margin: 2rem 4rem 0rem 4rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.body-text {
  margin: 4rem 4rem 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  max-width: 300px;
}

.avatar {
  height: 300px;
  width: 300px;
  margin-right: 10rem;
  border: 2px solid #dee2e6;
  border-radius: 50%;
}

.socials {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 144px;
  margin-bottom: 10rem;
}

.about {
  margin-left: 144px;
  margin-right: 144px;
  margin-bottom: 25rem;
  margin-top: 5rem;
  max-width: 1100px;
}

.about-head-text {
  font-size: 4rem;
  font-weight: 600;
}

.projects {
  margin-bottom: 20rem;
  padding-top: 5rem;
}

.projects-text {
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.about-body-text {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
}

.skills {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.skill-logo {
  cursor: default !important;
  color: #0d6efd !important;
}

.section-1 {
  margin-bottom: 20rem;
}

.contact {
  display: flex;
  justify-content: center;
  margin-left: 144px;
  margin-right: 144px;
  margin-bottom: 15rem;
  gap: 4rem;
}

.contact-head-text {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-top: 160px;
}

.contact-text {
  margin-top: 1rem;
  width: 400px;
}

.contact-text-head {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact-text-body {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #0d6efd;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0d6efd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

form {
  max-width: 420px;
}

.contact-form {
  color: black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid #dee2e6;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.contact-form:focus {
  border: 2px solid #0d6efd;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #0d6efd;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #0a58ca;
}

.featured{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px;
}

.featured-item{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  max-width: 800px;
  align-self: stretch;
}

.featured-body-text{
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  margin-top: 5px;
}

.featured-title{
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
}

.featured-buttons{
  margin-top: 40px;
  display: flex;
  gap: 60px;
}

.featured-main{
  font-size: 34px;
  font-weight: 600;
}

