root {
    max-width: 2000px;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 4rem 1rem 4rem;
}

.project-img {
    height: 200px;
    width: 100px;
}

.intro {
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5rem;
}

.head-text {
    margin: 2rem 12rem 0rem 4rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-text, .projects-text {
    margin: 1rem 12rem 1rem 4rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.card-buttons {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    max-width: 300px;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 10rem;
}