.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0.5rem 4rem 1rem 4rem;
}

.project-img {
    height: 200px;
    width: 100px;
}

.about {
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.head-text {
    margin: 2rem 0rem 0rem 3rem;
    font-size: 4rem;
    font-weight: 600;
}

.body-text, .projects-text {
    margin: 0rem 12rem 0rem 3rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.card-buttons {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    max-width: 300px;
}